@model List<Zapatilla>

<h1>Zapatillas</h1>

<ul class="list-group my-2">
	@foreach(Zapatilla zapatilla in Model){
		<li class="list-group-item">
			@zapatilla.Nombre

			<a 
				class="btn btn-danger"
				asp-controller="Zapatillas"
				asp-action="Imagenes"
				asp-route-idprod="@zapatilla.IdProducto"
			>Paginacion 5</a>

			<a class="btn btn-success"
			   asp-controller="Zapatillas"
			   asp-action="Details"
			   asp-route-idprod="@zapatilla.IdProducto"
			>Paginacion 10</a>
		</li>
	}
</ul>
